.mat-container{
    background-color: rgb(213, 213, 213);
}

.container {
  margin: 1rem;
}

.toolbar {
  background-color: rgb(13, 52, 109);
  .toolbar__title {
    color: white;
  }

  .menu-icon {
    color: white;
  }
}
