
.container-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 8rem;

    img{
        color: white;
        font-weight: bold;
        width: 15rem;
        height: 15rem;
    }


}